body {
    font-family:Segoe UI, Arial, sans-serif;
}
.bg-gradient-2{
    min-height : 100vh;
    background: linear-gradient( 135deg, #667eea 0%, #764ba2 100%);
}
.card {
    border-radius:1rem;
}

#email, #password {
    background-color: rgb(206, 232, 252);
}